<h1>Display your Pirate here</h1>
<p> Pirate Name: <%= @pirate.name %> </p>
<p> Pirate Weight: <%= @pirate.weight %> </p>
<p> Pirate Height: <%= @pirate.height %> </p>


<h2>Display your first ship here</h2>
<p> Ship One Name: <%= @ship_one.name %></p>
<p> Ship One Name: <%= @ship_one.type %></p>
<p> Ship One Name: <%= @ship_one.booty %></p>

<h2>Display your second ship here</h2>
<p> Ship two Name: <%= @ship_two.name %></p>
<p> Ship two Name: <%= @ship_two.type %></p>
<p> Ship two Name: <%= @ship_two.booty %></p>